
<div class="container">
    <div class="hero">
    </div>
    <div class="bio">
        <img src="/assets/wiley_logo_icon.png" width="100px">
        <p class="bio_text">
            The Wiley Real Estate Group, Inc. (TWREG) is a full-service commercial real estate firm based in Atlanta, Georgia. TWREG provides superior brokerage and advisory services to commercial real estate investors throughout the Southeast. Our experienced professionals perform extensive market and property research, property valuation and underwriting, providing the key elements to create the most effective individualized marketing strategy for each client.  
        </p>
        <hr>
        <div class="row kp">
            <div class="medium-4 columns"><img src="/assets/southeast_market_icon.png" alt=""width="100px"></div>
            <div class="medium-8 columns key_points">Southeast Market Coverage</div>
        </div>
        <div class="row kp">
            <div class="medium-4 columns"><img src="/assets/consulting_icon.png" alt=""width="75px"></div>
            <div class="medium-8 columns key_points">Comprehensive Brokerage and Advisory Services</div>
        </div>
        <div class="row">
            <div class="medium-4 columns kp"><img src="/assets/multi_housing_icon.png" alt=""width="75px"></div>
            <div class="medium-8 columns key_points">Multi-Family Investment Advisors</div>
        </div>
        <div class="row">
            <div class="medium-4 columns kp"><img src="/assets/commercial_icon.png" alt=""width="60px"></div>
            <div class="medium-8 columns key_points">Commercial Real Estate Expertise</div>
        </div>
        </div>
    </div>
    <p>Find me in app/views/static_pages/home.html.erb</p>
    
</div>