<header>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

</header>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>



<footer class="footer">
  <div class="row full-width">
    		  <div class="small-12 medium-3 large-3 columns" style= "padding:25px">
      				<%= image_tag("wiley_logo.png") %>      
    		  </div>
	    
		      <div class="small-12 medium-2 large-2 columns">
		    	<h4>Our Company</h4>			      
					<ul class="footer-links">
						<li><a href="#">About Us</a></li>    
			        	<li><a href="#">Client List</a></li>
			       		<li><a href="#">Careers</a></li>
			        	<li><a href="#">Contact Us</a></li>        	
					</ul>   			      
		      </div>	
			  <div class="small-6 medium-5 large-2 columns">
			  	<h4>Properties</h4>
				    <ul class="footer-links">
				        <li><a href="#">Current Listings</a></li>
				        <li><a href="#">Recent Sales</a></li>
				    </ul>
			  </div>
		      <div class="small-6 medium-2 large-2 columns">
		      	<h4>Services</h4>
				    <ul class="footer-links">
				        <li><a href="#">Government Serves</a></li>
				        <li><a href="#">Affordable Housing</a></li>
				    </ul>
		      </div>
		      <div class="small-6 medium-3 large-3 columns">
		      	<h4>Terms of Use</h4>
	    	  </div>	
	</div>
</footer>
