<div class="top-bar">
	<div class="row">
		<div class="top-bar-left">
			<a class="menu-logo"><%= image_tag 'wiley_logo.png', class: "large-4 columns" %></a>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li><a href="#">About</a></li>
				<li><a href="#">Listings</a></li>
				<li><a href="#">Recent Sales</a></li>
				<li><a href="#">Affordable Housing</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</div>
